<!DOCTYPE html>
<html>
    <head>
        <title>Комментарии</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <style type="text/css">
            .vertical-tab{
                margin: 20px 0;
            }
        </style>
    </head>
    <body>
        <div class="row vertical-tab">
            <div class="offset4 span2">
                {{ request.user.username }}
            </div>
            <div class="span2">
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="row">
                            <div class="alert alert-error">
                                <strong>Error: </strong>{{ error }}
                            </div>
                        </div>
                    {% endfor %}
                {%  endif %}

                <form action="" method="POST">
                    {% csrf_token %}

                    {# Text #}
                    <div class="control-group {% if form.email.errors%}error{% endif %}">
                        <label class="control-label" for="inputText">Текст:</label>
                        <div class="controls">
                            <textarea name="text" id="inputText" rows="3" cols="6"></textarea>
                            {%  if form.text.errors %}<span class="help-inline">{{ form.text.errors }}</span>{% endif %}
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-success">Отправить</button>

                            <a href="/logout/">
                                <button type='button' class="btn btn btn-danger">Выйти</button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
{#        <br>#}
        <hr />
        {%  for item in comments %}
            <div class="row vertical-tab">
                <div class="offset4 span2">
                    {{ item.name }}
                </div>
                <div class="span2">
                    {{ item.text }}
                </div>
            </div>
        {% endfor %}
    </body>
</html>