<!DOCTYPE html>
<html>
    <head>
        <title>Комментарии</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <style type="text/css">
            .vertical-tab{
                margin: 20px 0;
            }
        </style>
    </head>
    <body>
        <div class="row">
            <div class="offset6 span6">
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="row">
                            <div class="alert alert-error">
                                <strong>Error: </strong>{{ error }}
                            </div>
                        </div>
                    {% endfor %}
                {%  endif %}

                <form action="" method="POST">
                    {# Username #}
                    {% csrf_token %}
                    <div class="control-group {% if form.username.errors%}error{% endif %}">
                        <label class="control-label" for="inputUsername">Логин:</label>
                        <div class="controls">
                            <input type="text" name="username" id="inputUsername">
                            {%  if form.username.errors %}<span class="help-inline">{{ form.username.errors }}</span>{% endif %}
                        </div>
                    </div>

                    {# Password #}
                    <div class="control-group {% if form.password.errors%}error{% endif %}">
                        <label class="control-label" for="inputPassword">Пароль:</label>
                        <div class="controls">
                            <input type="password" name="password" id="inputPassword">
                            {%  if form.password.errors %}<span class="help-inline">{{ form.password.errors }}</span>{% endif %}
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-success">Войти</button>
                            <a href="/register/">
                                <button type='button' class="btn btn-warning">Зарегистрироваться</button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
{#        <br>#}
{#        <hr />#}
{#        {%  for item in comments %}#}
{#            <div class="row vertical-tab">#}
{#                <div class="offset4 span2">#}
{#                    {{ item.name }}#}
{#                </div>#}
{#                <div class="span2">#}
{#                    {{ item.text }}#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
    </body>
</html>