<!DOCTYPE html>
<html>
    <head>
        <title>Комментарии</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <style type="text/css">
            .vertical-tab{
                margin: 20px 0;
            }
        </style>
    </head>
    <body>
        <div class="row">
            <div class="offset6 span6">
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="row">
                            <div class="alert alert-error">
                                <strong>Error: </strong>{{ error }}
                            </div>
                        </div>
                    {% endfor %}
                {%  endif %}

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="control-group {% if form.username.errors%}error{% endif %}">
                        <label class="control-label" for="inputUsername">Логин:</label>
                        <div class="controls">
                            <input type="text" name="username" id="inputUsername">
                            {%  if form.username.errors %}<span class="help-inline">{{ form.username.errors }}</span>{% endif %}
                        </div>
                    </div>

                    {# Password1 #}
                    <div class="control-group {% if form.password1.errors%}error{% endif %}">
                        <label class="control-label" for="inputPassword1">Пароль:</label>
                        <div class="controls">
                            <input type="password" name="password1" id="inputPassword1">
                            {%  if form.password1.errors %}<span class="help-inline">{{ form.password1.errors }}</span>{% endif %}
                        </div>
                    </div>

                    {# Password2 #}
                    <div class="control-group {% if form.password2.errors%}error{% endif %}">
                        <label class="control-label" for="inputPassword2">Подтверждение пароля:</label>
                        <div class="controls">
                            <input type="password" name="password2" id="inputPassword2">
                            {%  if form.password2.errors %}<span class="help-inline">{{ form.password2.errors }}</span>{% endif %}
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-success">Зарегистрироваться</button>
                            <a href="/login/">
                                <button type='button' class="btn btn-warning">Войти</button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>